@model List<Eye.Contract.Share.Models.ProxyModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <form asp-controller="Browser" asp-action="StartBrowser">
        <input type="hidden" name="user_id" value="1" />
        <button type="submit" class="btn btn-secondary">Start Browser</button>
    </form>
    <form asp-controller="Browser" asp-action="CloseBrowser">
        <input type="hidden" name="user_id" value="1" />
        <button type="submit" class="btn btn-secondary">Close Browser</button>
    </form>
    <form asp-controller="Browser" asp-action="StartAll">
        <input type="hidden" name="user_id" value="1" />
        <button type="submit" class="btn btn-secondary">Start All</button>
    </form>
    <form asp-controller="Browser" asp-action="CloseAll">
        <input type="hidden" name="user_id" value="1" />
        <button type="submit" class="btn btn-secondary">Close All</button>
    </form>
</div>
<br />
